<div content-for="title"><span>View Post</span></div>
<div class="container">
  <div class="row padding-top">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="text-center text-info">{{post.title}}</h4>
          <hr>
          <p>
            <small>By: {{post.user.firstname}} {{post.user.lastname.charAt(0)}}
            <span class="pull-right">{{post.created_at}}</span></small>
          </p>
          <p>{{post.content}}</p>
        </div>
      </div>
      <form action="" role='form' class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-10">
            <textarea name="" id="" cols="30" rows="1" class="form-control" placeholder="comment..."></textarea>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-info bnt-block form-control" type="submit">
              <i class="fa fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <B>Comments</B>
      <ul class="list-group">
        <li class="list-group-item">
          <b class="text-info">Adones Pitogo</b>:
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore consequatur enim corporis, at, accusantium doloribus nobis consequuntur illum facilis non vel totam suscipit corrupti voluptatum. Eos sed architecto impedit dolores!</p>
        </li>
      </ul>
    </div>
  </div>
</div>