<div content-for="title"><span>View Post</span></div>

<div class="scrollable">
  <div class="scrollable-content">

    <ul class="list-group">
      <li class="list-group-item">
        <h4 class="text-center text-info">{{post.title}}</h4>
        <hr>
        <p>
          <small>By: {{post.user.firstname}} {{post.user.lastname.charAt(0)}}
          <span class="pull-right">{{post.created_at}}</span></small>
        </p>
        <p>{{post.content}}</p>
      </li>
      <li class="list-group-item">

        <form role='form' class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-9">
              <textarea ng-model="new_comment" ng-required name="comment" cols="30" rows="1" class="form-control" placeholder="comment..."></textarea>
            </div>
            <div class="col-xs-3">
              <button class="btn btn-info bnt-block form-control" type="submit" ng-click="postComment()">
                <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </form>
      </li>
    </ul>

    <hr>

    <ul class="list-group">
      <li class="list-group-item">
        <B>Comments</B>
      </li>
      <li class="list-group-item" ng-repeat="comment in post.comments">
        <b class="text-info">{{comment.user.firstname}} {{comment.user.lastname}}</b>:
        <p>{{comment.content}}</p>
      </li>
    </ul>


  </div>
</div>