<?xml version='1.0' encoding='utf-8'?>
<widget id="org.pnpaa.fourhorsemen" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PNPAA Bulletin</name>
    <description>
      Online collaboration tool for PN Philippines Alumni Association (PNPAA)
    </description>
    <author email="dev@pnpaa.org" href="http://www.pnpaa.org">
        PNPAA Technology and Communications Committee
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
