<div content-for="title"><span>Events</span></div>
<div class="list-group">
  <a ui-sref="home.event({eventId: event.id})" class="list-group-item">
    <div class="row">
      <div class="col-sm-6">
        <ul>
          <li>What: Sports Fest 2014</li>
          <li>When: Jan 1, 2014 @ 4:30 PM</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul>
          <li>Where: Sa imong heart</li>
          <li>Who: Finance Department Officers</li>
        </ul>
      </div>
    </div>
  </a>
</div>